<footer>
        <div class="container-fluid dell-footer text-color-white gotham-rounded-light">
            <div class="row">
                <div class="col-md-10 ">
                    <p>Copyright © 2013. All Rights Reserved </p>
                </div>
                <div class="col-md-2 ">
                  <span class="fa-stack hw-socialshare social-icons">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </span>
                  <span class="fa-stack hw-socialshare social-icons">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                  <span class="fa-stack hw-socialshare social-icons">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                  </span>
                </div>
            </div>
        </div>
</footer>





<!-- </div> -->

<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/custom.js"></script>

    </body>
</html>