<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Dell Wiki</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">  
     <!-- Bootstrap -->
      <link href="{{site.baseurl}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.css">
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
      <link rel="shortcut icon" type="image/ico" href="/favicon.ico">

    </head>

<body >

<header >
<!-- navigation-bar -->
          <nav class="navbar navbar-default dell-head " >
            <div>
              <!-- logo -->
                
              <!-- End of logo -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse gotham-rounded-light" >
                <ul class="nav navbar-nav navbar-left">
          <li>
            <div class="logo">
                        <a href="#"> <img src="{{site.baseurl}}/assets/img/logo-wt-bl.png" alt=""></a>
                    </div>
          </li>
               </ul>
                <ul class="nav navbar-nav navbar-right">
<!--                  <li >
                     <a href="/portfolio">Portfolio</a>
                  </li>  -->

                  <li >
                     <a href="">Home</a>
                  </li>
                <li  class="dell-menu-item"><a href="#">Skins</a>
                  <ul class="dell-sub-menu " id="dell-skin-color">
                    <li id="menu-item-Blue-Skin" class="menu-item"><a href="#">Blue Skin</a></li>
                    <li id="menu-item-Green-Skin" class="menu-item"><a >Green Skin</a></li>
                    <li id="menu-item-Red-Skin" class="menu-item"><a >Red Skin</a></li>
                    <li id="menu-item-Default-Skin" class="menu-item"><a >Default Skin</a></li>
                  </ul>
                </li>
      <!-- 
                <li  class="dell-menu-item"><a href="#">more</a>
                  <ul class="dell-sub-menu" id="dell-more-item">
                    <li id="menu-item-236" class="menu-item "><a >faq</a></li>
                    <li id="menu-item-237" class="menu-item"><a href=>full</a></li>
                    <li id="menu-item-238" class="menu-item"><a href=>link</a></li>
                  </ul>
                </li> -->


                  <li >
                        <a href="/engage_us">contact Us </a>
                  </li>
                </ul>
             </div><!-- /.navbar-collapse -->
           </div><!-- /.container-fluid -->
          </nav>
        <!-- navigation-bar -->
</header>