@font-face {
    font-family: 'Campton-Bold';
    src: url('../font/otf/Campton-Bold.otf');
}
@font-face {
    font-family: 'Campton-Book';
    src: url('../font/otf/Campton-Book.otf');
}
@font-face {
    font-family: 'Campton-ExtraBoldItalic';
    src: url('../font/otf/Campton-ExtraBoldItalic.otf');
}
@font-face {
    font-family: 'Campton-Light';
    src: url('../font/otf/Campton-Light.otf');
}
@font-face {
    font-family: 'Campton-LightItalic';
    src: url('../font/otf/Campton-LightItalic.otf');
}
@font-face {
    font-family: 'Campton-Medium';
    src: url('../font/otf/Campton-Medium.otf');
}
@font-face {
    font-family: 'Campton-SemiBold';
    src: url('../font/otf/Campton-SemiBold.otf');
}

.campton_bold{
        font-family:Campton-Bold ;
}
.campton_book{
        font-family:Campton-Book ;
}
.campton_extrabolditalic{
        font-family:Campton-ExtraBoldItalic ;
}
.campton_light{
        font-family: Campton-Light;
}
.campton_lightitalic{
        font-family: Campton-LightItalic;
}
.campton_medium{
        font-family: Campton-Medium;
}
.campton_semibold{
        font-family: Campton-SemiBold;
}


.mainLoginInput::-webkit-input-placeholder {
    font-family: Campton-Book;
}



.eighteen-pixel{
    font-size: 18px;
}
.sixteen-pixel{
    font-size: 16px;
}

.twelve-pixel{
    font-size: 12px;
}
.text-color-white{
    color: #fff;
}
.text-color-black{
    color: #000;
}
.text-color-gray{
    color: gray;
}

/* for header*/
.dell-head{
    height: 56px;
    padding-top: 2px;
    width: 100%;
    position: fixed;
    background-color: #4fb084;
    border-color: transparent;
}
.dell-head a{
    color:#fff;
}

.dell-head .navbar-collapse ul>li>a {
    color: #fff;
}
.dropdown-menu{
    background-color: inherit;
}
/*.dropdown-menu li:hover{
    background-color: inherit;
    opacity: 0.8;
}*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    /*color: #262626;*/
    text-decoration: none;
    background-color: inherit;
     opacity: 0.6; 
}
.logo{
    margin-top: 10px;
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
    color:gray;
}

/*#dell-skin-color:hover{
    display: block;
}*/

#dell-skin-color {

    
}
.dell-sub-menu{
    list-style: none;
    background-color: #4fb084;
    position: fixed;
    padding: 7px;
    width: 125px;
    opacity: 0;
    display: none;
}
.dell-sub-menu li {
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}
.dell-sub-menu li a{
    text-decoration: none;
    color: #fff;
    /*color:gray;*/
}
.dell-sub-menu .menu-item:hover a{
    color:gray;
}







/* end for header*/


/* for the searc div */
.dell-search-div{
    height: 347px;
    background-color: #229d8e;
}
.search-header{
    margin-top: 131px;
}
.search-tag-line{
    margin-top: 20px;
}
input#search-text-box {
    width: 70%;
    height: 53px;
    border-style: none;
    margin-right: 24px;
    padding: 18px;
    margin-left: 111px;
    margin-top: 30px;
}
input.search-btn {
    opacity: 0.8;
    width: 9%;
    height: 53px;
    background-color: #4fb081;
    border-style: none;
}
input.search-btn:hover{
    opacity: 1;
}
/* end for the searc div */


/* Start of Page Container */

h4.search-title {
    margin-top: 55px;
    display: none;
    background-color: #f2f2f2;
    padding: 10px 10px 10px 21px;
}
h4#no-result-found {
    margin-top: 38px;
    display: none;
    margin-bottom: 59px;

}
.topic {
    margin-top: 40px;
}
.topic .post-title a{
    text-decoration: none;
    /*color:#4fb084;*/
}
.topic .post-meta.clearfix {
    margin-bottom: 4px;
}
.topic a.readmore-link {
    text-decoration: none;
    cursor: pointer;
}
.more-description{
    display: none;
}



















































































/*for footer*/
.dell-footer{
    margin-top: 30px;
    height: 56px;
    padding-top: 16px;
    background-color: #4fb084;
    border-color: transparent;    
}





