
/* fonts */
    @font-face {
        font-family:'gotham-rounded-bold';
        src: url(../font/gotham-rounded-bold.otf);
    }
    @font-face {
        font-family:'gotham-rounded-book';
        src: url(../font/gotham-rounded-book.otf);
    }
    @font-face {
        font-family:'gotham-rounded-light';
        src: url(../font/gotham-rounded-light.otf);
    }
    @font-face {
        font-family:'gotham-rounded-book-italic';
        src: url(../font/gotham-rounded-book-italic.otf);
    }
    @font-face {
        font-family:'gotham-rounded-light-italic';
        src: url(../font/gotham-rounded-light-italic.otf);
    }
*{
        font-family: "Trebuchet MS", Arial, Sans-Serif;
}


/*    .gotham-rounded-bold {
        font-family: "gotham-rounded-bold";
    }
    .gotham-rounded-bok {
        font-family: "gotham-rounded-book"; 
    }
    .gotham-rounded-light {
        font-family: "gotham-rounded-light"; 
    }
    .gotham-book-italic {
        font-family: "gotham-rounded-book-italic"; 
    }
    .gotham-light-italic {
        font-family: "gotham-rounded-light-italic"; 
    }*/

/* end of fonts */


.mainLoginInput::-webkit-input-placeholder {
    font-family: "gotham-rounded-light";
}



.eighteen-pixel{
    font-size: 18px;
}
.sixteen-pixel{
    font-size: 16px;
}

.twelve-pixel{
    font-size: 12px;
}
.text-color-white{
    color: #fff;
}
.text-color-black{
    color: #000;
}
.text-color-gray{
    color: gray;
}

/* for header*/
.dell-head{
    z-index: 10;
    height: 53px;
    padding-top: 2px;
    width: 100%;
    position: fixed;
    background-color: #0085c3;
    border-color: transparent;
}
.dell-head a{
    color:#fff;
}

.dell-head .navbar-collapse ul>li>a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: gray;
    background-color: transparent;
}
.dropdown-menu{
    background-color: inherit;
}
/*.dropdown-menu li:hover{
    background-color: inherit;
    opacity: 0.8;
}*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    /*color: #262626;*/
    text-decoration: none;
    background-color: inherit;
     opacity: 0.6; 
}
.logo{
    /*margin-top: 10px;*/
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
    color:gray;
}

/*#dell-skin-color:hover{
    display: block;
}*/

#dell-skin-color {

    
}
.dell-sub-menu{
    list-style: none;
    background-color: #4fb084;
    position: fixed;
    padding: 7px;
    width: 125px;
    opacity: 0;
    display: none;
}
.dell-sub-menu li {
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}
.dell-sub-menu li a{
    text-decoration: none;
    color: #fff;
    /*color:gray;*/
}
.dell-sub-menu .menu-item:hover a{
    color:gray;
}







/* end for header*/


/* for the searc div */
.dell-search-div{
    height: 427px;
    background-color: #229d8e;
}
.search-header{
    margin-top: 147px;
}
.search-tag-line{
    margin-top: 26px;
    font-size: 22px;

}

input#search-text-box:focus{
    outline: none;
}
input#search-text-box:focus::-webkit-input-placeholder {
  transition: text-indent 1s 1s ease; 
  text-indent: -100%;
  opacity: 1;
}

.search-btn:hover{
    opacity: 1;
}
.search-btn:focus{
    outline: none;
}
/* end for the searc div */


/* Start of Page Container */
.page-container {
    background-color: #eee;
    padding-bottom: 41px;
}

h4.search-title {
    margin-top: 55px;
    display: none;
    background-color: #f2f2f2;
    padding: 10px 10px 10px 21px;
}
h4#no-result-found {
    margin-top: 38px;
    display: none;
    margin-bottom: 59px;

}
.topic {
    display: none;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.topic .post-title a{
    text-decoration: none;
    /*color:#4fb084;*/
}
.post-title img {
    width: 23px;
    height: 23px;
}
.topic p{
    line-height: 24px;
    /*letter-spacing: 1px;*/
}
.topic .post-meta.clearfix {
    margin-bottom: 4px;
}
.topic a.readmore-link {
    color: darkgray;    
    text-decoration: none;
    cursor: pointer;
}
.more-description{
    /*display: none;*/ 
        margin-left: 31px;
}
.less-description{
    /*position: absolute;*/
    /*margin-left: 13px;*/
    font-size: 22px;
    font-weight: lighter;
    /*margin-top: -41px;*/
}
.topic header h3 a:hover{
    color:#337ab7;
}
#main-post-tile{
    margin-left: 3px;
}
/* end of Page Container */

/*for footer*/
.dell-footer{
    /*margin-top: 30px;*/
    height: 56px;
    padding-top: 16px;
    background-color: #0085c3;
    border-color: transparent;    
}
.dell-footer .col-md-2 span{
    float: right;
    padding-left: 50px;
}








@media screen and (min-width: 1000px) {

/* for auto complete*/

ul#ui-id-1{
    background-color: #229d8e;
    width: 59% !important;
    left: 18% !important
}
ul#ui-id-1 li{
    font-size: 14px;
    list-style-type: none;
    margin-top: 5px;
    margin-left: -35px;
    color:#fff;
    cursor: pointer;
}
ul#ui-id-1 li:hover{
    color:#000;
}

/* end for auto complete*/

input#search-text-box {
    font-size: 16px;
    width: 81%;
    border-radius: 35px;
    height: 53px;
    border-style: none;
    margin-right: 24px;
    text-indent: 30px;
    margin-left: 10%;
    margin-top: 30px;
}
.search-btn {
    border-radius: 35px;
    position: absolute;
    margin-left: -9.2%;    
    margin-top: 35px;
    opacity: 0.8;
    width: 7%;
    height: 43px;
    background-color: #4fb081;
    border-style: none;
}
}





@media screen and (max-width: 1000px) and (min-width: 600px) {

/* for auto complete*/

ul#ui-id-1{
    background-color: #229d8e;
    width: 59% !important;
    left: 18% !important
}
ul#ui-id-1 li{
    font-size: 14px;
    list-style-type: none;
    margin-top: 5px;
    margin-left: -35px;
    color:#fff;
    cursor: pointer;
}
ul#ui-id-1 li:hover{
    color:#000;
}

/* end for auto complete*/    

input#search-text-box {
    font-size: 13px;
    width: 80%;
    border-radius: 35px;
    height: 40px;
    border-style: none;
    margin-right: 24px;
    text-indent: 30px;
    margin-left: 10%;
    margin-top: 30px;
}

.search-btn {
    border-radius: 35px;
    position: absolute;
    margin-left: -102px;
    margin-top: 33px;
    opacity: 0.8;
    width: 74px;
    height: 34px;
    background-color: #4fb081;
    border-style: none;
    font-size: 11px;
}

}


@media screen and (max-width: 600px) {
/* for auto complete*/

ul#ui-id-1{
    background-color: #229d8e;
    width: 56% !important;
    left: 17% !important
}
ul#ui-id-1 li{
    font-size: 8px !important;
    list-style-type: none;
    margin-top: 5px;
    margin-left: -38px;
    color:#fff;
    cursor: pointer;
}
ul#ui-id-1 li:hover{
    color:#000;
}

/* end for auto complete*/    

input#search-text-box {
    font-size: 10px;
    width: 80%;
    border-radius: 35px;
    height: 27px;
    border-style: none;
    margin-right: 24px;
    text-indent: 19px;
    margin-left: 10%;
    margin-top: 30px;
}

.search-btn {
    border-radius: 35px;
    position: absolute;
    margin-left: -87px;
    margin-top: 33px;
    opacity: 0.8;
    width: 60px;
    height: 22px;
    background-color: #4fb081;
    border-style: none;
    font-size: 10px;
}

}