{% include header.html %}



<body >

<header >
<!-- navigation-bar -->
          <nav class="navbar navbar-default dell-head " >
            <div>
              <!-- logo -->
                
              <!-- End of logo -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" >
              	<ul class="nav navbar-nav navbar-left">
					<li>
						<div class="logo">
                  			<a href="#"> Dell Wiki</a>
                		</div>
					</li>
               </ul>
                <ul class="nav navbar-nav navbar-right">
	                <li >
	                   <a href="/portfolio">Portfolio</a>
	                </li>
	                <li >
	                   <a href="/portfolio">Portfolio</a>
	                </li>

					<li  class="dell-menu-item"><a href="#">Skins</a>
						<ul class="dell-sub-menu" id="dell-skin-color">
							<li id="menu-item-Blue-Skin" class="menu-item"><a >Blue Skin</a></li>
							<li id="menu-item-Green-Skin" class="menu-item"><a >Green Skin</a></li>
							<li id="menu-item-Red-Skin" class="menu-item"><a >Red Skin</a></li>
							<li id="menu-item-Default-Skin" class="menu-item"><a >Default Skin</a></li>
						</ul>
					</li>

					<li  class="dell-menu-item"><a href="#">more</a>
						<ul class="dell-sub-menu" id="dell-more-item">
							<li id="menu-item-236" class="menu-item "><a >faq</a></li>
							<li id="menu-item-237" class="menu-item"><a href=>full</a></li>
							<li id="menu-item-238" class="menu-item"><a href=>link</a></li>
						</ul>
					</li>


	                <li >
	                      <a href="/engage_us">contact Us </a>
	                </li>
               	</ul>
             </div><!-- /.navbar-collapse -->
           </div><!-- /.container-fluid -->
          </nav>
        <!-- navigation-bar -->
</header>


	<div class="dell-search-div">	
	   <!-- Start of Search Wrapper -->
        <div class="search-area-wrapper">
            <div class="search-area container">
                <h1 class="search-header text-center text-color-white">Have a Question?</h3>
                <p class="search-tag-line text-center text-color-white">If you have any question you can ask below or enter what you are looking for!</p>

                <!-- <form id="search-form" class="search-form clearfix" method="get"  autocomplete="off"> -->
                    <input class="search-term" type="text" id="search-text-box" name="search-text" placeholder="Type your search terms here" title="* Please enter a search term!" />
                    <input class="search-btn" type="button" value="Search" id="dell-search-button"/>
                    <div id="search-error-container"></div>
                <!-- </form> -->
            </div>
        </div>
        <!-- End of Search Wrapper -->
	</div>
	








<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 main-listing">
                <h4 class="search-title text-color-gray">Search Results for 
                	<span class="text-color-black" id="search-title-span">mn</span>
                </h4>
                <h4 id="no-result-found">No Result Found!</h4>
                <article id="post-1" class=" post-1 topic type-topic status-publish hentry topic-tag-basic topic-tag-suggestion">
    				<header class="clearfix">
       					 <h3 class="post-title">
                        <a href="http://knowledgebase.inspirythemes.biz/forums/topic/what-is-the-best-theme-for-a-simple-blog/">
               			 <i class="fa fa-pencil-square-o"></i>best</a>
      					</h3>
				        <div class="post-meta clearfix">
				            <span class="date"><i class="fa fa-calendar-o"></i>03 Sep, 2013</span>
				            <span class="category"><i class="fa fa-folder-open-o"></i></span>
	                    </div><!-- end of post meta -->
				    </header>
				    <p class="less-description">1.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . . 
				    	<a class="readmore-link read-me-link" >Read more</a>
				    </p>
				    <p class="more-description">1.tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendre.amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . .
				    </p>
				</article>

				<article id="post-1" class=" post-1 topic type-topic status-publish hentry topic-tag-basic topic-tag-suggestion">
    				<header class="clearfix">
       					 <h3 class="post-title">
                        <a href="http://knowledgebase.inspirythemes.biz/forums/topic/what-is-the-best-theme-for-a-simple-blog/">
               			 <i class="fa fa-pencil-square-o"></i>office</a>
      					</h3>
				        <div class="post-meta clearfix">
				            <span class="date"><i class="fa fa-calendar-o"></i>03 Sep, 2013</span>
				            <span class="category"><i class="fa fa-folder-open-o"></i></span>
	                    </div><!-- end of post meta -->
				    </header>
				    <p class="less-description">2.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . 
				    	<a class="readmore-link read-me-link" >Read more</a>
				    </p>
				    <p class="more-description">2.tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendre.amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . 
				    </p>
				</article>

				<article id="post-1" class=" post-1 topic type-topic status-publish hentry topic-tag-basic topic-tag-suggestion">
    				<header class="clearfix">
       					 <h3 class="post-title">
                        <a href="http://knowledgebase.inspirythemes.biz/forums/topic/what-is-the-best-theme-for-a-simple-blog/">
               			 <i class="fa fa-pencil-square-o"></i>sarkar</a>
      					</h3>
				        <div class="post-meta clearfix">
				            <span class="date"><i class="fa fa-calendar-o"></i>03 Sep, 2013</span>
				            <span class="category"><i class="fa fa-folder-open-o"></i></span>
	                    </div><!-- end of post meta -->
				    </header>
				    <p class="less-description">3.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . . 
				    	<a class="readmore-link read-me-link" >Read more</a>
				    </p>
				    <p class="more-description">3.tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendre.amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . .
				    </p>
				</article>

				<article id="post-1" class=" post-1 topic type-topic status-publish hentry topic-tag-basic topic-tag-suggestion">
    				<header class="clearfix">

       					 <h3 class="post-title">
                        <a href="http://knowledgebase.inspirythemes.biz/forums/topic/what-is-the-best-theme-for-a-simple-blog/">
               			 <i class="fa fa-pencil-square-o"></i>4.What is the best theme for a simple blog</a>
      					</h3>

				        <div class="post-meta clearfix">
				            <span class="date"><i class="fa fa-calendar-o"></i>03 Sep, 2013</span>
				            <span class="category"><i class="fa fa-folder-open-o"></i></span>
	                    </div><!-- end of post meta -->

				    </header>
				    <p class="less-description">4.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . . 
				    	<a class="readmore-link read-me-link" >Read more</a>
				    </p>
				    <p class="more-description">4.tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendre.amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in . . .
				    </p>
				</article>
			</div>
            <!-- end of page content -->

                                    <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->





{% include footer.html %}