{% include header.html %}





	<div class="dell-search-div">	
	   <!-- Start of Search Wrapper -->
        <div class="search-area-wrapper">
            <div class="search-area container">
                <h1 class="search-header text-center text-color-white gotham-rounded-bok">Have a Question ?</h3>
                <p class="search-tag-line text-center text-color-white gotham-rounded-bok">If you have any question you can ask below or enter what you are looking for!</p>

<!-- 
                <div class="click-anim">
                <figure class="hungry" style="background-color: ">
                <div class="eye"></div>
                <div class="eye">
                </div>
                <div class="mouth ">
                </div>
                </figure>
                </div>
 -->
                
                    <input class="search-term" type="text" id="search-text-box" name="search-text" placeholder="Type your search terms here" title="* Please enter a search term!" />
                    <button class="search-btn" id="dell-search-button">
                    <i class="fa fa-search"></i><span>&nbsp;&nbsp;Search</span></button>

            </div>
        </div>
        <!-- End of Search Wrapper -->
	</div>
	



    
<!-- {% for topic1 in site.topic %}
	<p>{{topic1.like}}</p>
{% endfor %}
 -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">


            <!-- start of page content -->
            <div class="span8 main-listing">
                <h4 class="search-title text-color-gray">Search Results for 
                	<span class="text-color-black" id="search-title-span"></span>
                </h4>
                <h4 id="no-result-found">Sorry,no Results Found !</h4>
{% assign jobboardd = site.jobboard | sort: "order" %}
{% for job in  jobboardd %}
                <article id="post-1" class=" post-1 topic type-topic status-publish hentry topic-tag-basic topic-tag-suggestion">
    				<header class="clearfix">
       					 <h3 class="post-title gotham-rounded-bold">
                        <a >
               			 <i class="fa fa-pencil-square-o"></i><span id="main-post-tile">{{job.topic_title}}</span></a>
                         <span class="less-description gotham-rounded-light">({{job.topic_description}})
                        </span>
      					</h3>
				       <!--  <div class="post-meta clearfix">
				            <span class="date"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;{{job.date}}&nbsp;&nbsp;</span>
				            <span class="category"><i class="fa fa-folder-open-o"></i></span>
	                    </div> --> 
	                    <!-- end of post meta -->
				    </header>
<!-- 				    <p class="less-description campton_light">{{job.topic_description}}
                        <a class="readmore-link read-me-link" >&nbsp;&nbsp;&nbsp;&nbsp;Read more</a>
				    </p>
 -->				    <p class="more-description gotham-rounded-light">{{job.topic_more_description}}</p>
				</article>
 {% endfor %}

			</div>
            <!-- end of page content -->

                                    <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->





{% include footer.html %}